<div id="share_header">

  <%= render :partial => "share_listing", :locals => {:share_listing => @share, :use_url => true} %>

  <div class="content"> <%= simple_format h(@share.link.commentary) %> </div>
  
</div>

<br />

<%= render :partial => "comments/comment_box", :collection => @share.link.comments %>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>
  
  <%= hidden_field_tag "comment[user_id]", @comment.user_id %>
  <%= hidden_field_tag "comment[link_id]", @comment.link_id %>
  <%= hidden_field_tag "share_id", @share.id %>
  
  <p>
    <%= f.text_area :content, :rows => 5 %>
  </p>
  <p>
    <%= f.submit 'Add a Comment' %>
  </p>
<% end %>

<%= link_to 'Back to My Links', shares_path %>