
<% if @user.first_name %>
  <h1><%= "#{@user.name} (#{@user.email})" %></h1>
<% else %>
  <h1><%= @user.email %></h2>
<% end %>

<% if @user != current_user %>

  <h2>Links <%= @user.name %> Has Shared With Me</h2>
  
  <%= render :partial => "shares/share_list", :locals => { :shares => current_user.shares_from(@user) } %>


  <h2>Links I Have Shared With <%= @user.name %></h2>
  
  <%= render :partial => "shares/share_list", :locals => { :shares => @user.shares_from(current_user) } %>

<% end %>


<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back to My Links', root_path %>