<p>
  <b>Url:</b>
  <%=h @link.url %>
</p>

<p>
  <b>Title:</b>
  <%=h @link.title %>
</p>

<p>
  <b>Commentary:</b>
  <%=h @link.commentary %>
</p>

<p>
  <b>Submitter:</b>
  <%=h @link.submitter_id %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>