<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>A-List</title>
  <%= stylesheet_link_tag "/javascripts/ext/resources/css/ext-all.css" %>
  <%= stylesheet_link_tag "/javascripts/ext/resources/css/xtheme-gray.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag controller.controller_name %>
  <%= stylesheet_link_tag "shares" %>
<!-- Why the hell aren't these working with Heroku? -->
<!--   <%= javascript_include_tag "/javascripts/ext/ext-base.js", :cache => true %> -->
<!--   <%= javascript_include_tag "/javascripts/ext/ext-all.js", :cache => true %> -->
  <script src="/javascripts/ext/ext-base.js" type="text/javascript"></script> 
  <script src="/javascripts/ext/ext-all.js" type="text/javascript"></script> 
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag controller.controller_name %>
</head>

<body>

  <div id="main">

    <%= render :partial => "application/application_header" %>
    
    <div id="flash">
        <span id="notice"><%= flash[:notice] %></span>
        <span id="error"><%= flash[:error] %></span>
    </div>
    
    
    <div id="yield">
      <%= yield %>
    </div>

  </div>

</body>
</html>
